<%= bootstrap_form_for(@issue) do |f| %>

  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :id %>: <%= @issue.id %>

    <%= f.collection_select :place_id, Place.all, :id, :name %>

    <%= f.text_field :summary %>

    <%= f.text_field :status %>

    <%= f.text_area :description %>

    <%= f.text_field :address %>

    <%= f.text_field :lat %>

    <%= f.text_field :lng %>

    <%= f.text_field :image_full %>

    <%= f.primary "save" %>

<% end %>
