<%= bootstrap_form_for(@issue, :html => { :multipart => true }) do |f| %>

  <% if @issue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h2>

      <ul>
      <% @issue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :id %>: <%= @issue.id %>

    <%= f.collection_select :place_id, Place.all, :id, :name %>

    <%= f.text_field :summary %>

    <%= f.select(:status, ['Open','Acknowledged','Closed'].map { |value| [ value, value ] }) %>

    <%= f.text_area :description %>

    <%= f.text_field :address %>

    <%= f.text_field :geofence_radius, :label=>"Geofence Radius (in meters)" %>

    <%= f.text_field :lat %>

    <%= f.text_field :lng %>

    <%= f.text_field :scf_image_url, :label=>"SCF 100x100 Image URL" %>

    <%= f.file_field :custom_image %>
    <% if @issue.custom_image? %>
      <%= image_tag(@issue.custom_image.url(:thumb)) %>
      <%= f.check_box :delete_custom_image %>
    <% end %>

    <%= f.text_area :question %>
    <%= f.text_field :answer1 %>
    <%= f.text_field :answer2 %>
    <%= f.text_field :answer3 %>
    <%= f.text_field :answer4 %>
    <%= f.text_field :answer5 %>
    <%= f.text_field :answer6 %>

    <%= f.primary "save" %>

<% end %>
