<p id="notice"><%= notice %></p>

<h1>Listing Issues</h1>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Summary</th>
      <th>Status</th>
      <th>Description</th>
      <th>Address</th>
      <th>Image?</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, issue.scf_url %></td>
        <td><%= issue.summary %></td>
        <td><%= issue.status %></td>
        <td><%= issue.description %></td>
        <td><%= issue.address %></td>
        <td><%= link_to('view',issue.image_full) if issue.image_full%></td>
        <td><%= link_to 'Show', issue %></td>
        <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
        <td><%= link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Responses', issue_responses_path(issue) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
