<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @issue.id %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @issue.summary %>
</p>

<p>
  <strong>Status:</strong>
  <%= @issue.status %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<p>
  <strong>Geofence Radius:</strong>
  <%= @issue.geofence_radius %>
</p>

<p>
  <strong>Address:</strong>
  <%= @issue.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @issue.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @issue.lng %>
</p>

<p>
  <strong>SCF Image:</strong>
  <% if @issue.scf_image_url? %>
    <%= image_tag(@issue.scf_image_url) %>
  <% else %>
    <i>None</i>
  <% end %>
</p>

<p>
  <strong>Custom Image:</strong>
  <% if @issue.custom_image? %>
    <%= image_tag(@issue.custom_image.url(:thumb)) %>
  <% else %>
    <i>None</i>
  <% end %>
</p>

<p>
  <strong>Custom Question:</strong>
  <%= @issue.question %>
  <br />
  <%= @issue.answer1 %>, <%= @issue.answer2 %>, <%= @issue.answer3 %>, <%= @issue.answer4 %>, <%= @issue.answer5 %>, <%= @issue.answer6 %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>
