<p id="notice"><%= notice %></p>

<p>
  <strong>Install:</strong>
  <%= @response.install_id %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @response.answer %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @response.comment %>
</p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @response.photo.url(:medium) %>
</p>

<p>
  <strong>Issue:</strong>
  <%= link_to @response.issue_id, url_for(@response.issue) %>
  <i>distance: <%=number_with_precision @response.distance_from_issue, :precision=>2 %> miles</i>
</p>
<p>
  <strong>Lat:</strong>
  <%= @response.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @response.lng %>
</p>

<p>
  <strong>Install:</strong>
  <%= @response.install_id %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @response.timestamp %>
</p>


<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
