<p id="notice"><%= notice %></p>

<h1>Listing Installs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Device Id</th>
      <th>Created at</th>
      <th>Request Type</th>
      <th>Is Real</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @installs.each do |install| %>
      <tr>
        <td><%= install.device_id %></td>
        <td><%= install.created_at %></td>
        <td><%= install.request_type %></td>
        <td><%= install.is_real %></td>
        <td><%= link_to 'Show', install %></td>
        <td><%= link_to 'Edit', edit_install_path(install) %></td>
        <td><%= link_to 'Destroy', install, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Responses', install_responses_path(install) %> <small><%= install.responses.count %></small></td>
        <td><%= link_to 'Logs', install_logs_path(install) %> <small><%= install.logs.count %></small></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Install', new_install_path %>
