<p id="notice"><%= notice %></p>

<p>
Has <%=link_to @install.responses.count.to_s + " answers", responses_path(@install.id)%>.
</p>

<p>
  <strong>Device Id:</strong>
  <%= @install.device_id %>
</p>

<p>
  <strong>Is Real?</strong>
  <%= @install.is_real %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @install.created_at %>
</p>

<p><b>Data:</b></p>
<p>
  <ul>
  <li><%= link_to t('responses'), install_responses_path(@install) %>: <%= @install.responses.count %></li>
  <li><%= link_to t('logs'), install_logs_path(@install) %>: <%= @install.logs.count %>
    <ul>
    <% @install.count_logs_by_action.sort.each do |action, count| %>
      <li><%= action %>: <%= count %></li>
    <% end %>
    </ul>
  </li>
  <li>Geofence click-through rate: <%= number_to_percentage @install.geofence_click_rate %></li>
  <li>Geofence response rate: <%= number_to_percentage @install.geofence_response_rate %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
