<p id="notice"><%= notice %></p>

<p>
Has <%=link_to @install.responses.count.to_s + " answers", responses_path(@install.id)%>.
</p>

<p>
  <strong>Device Id:</strong>
  <%= @install.device_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @install.created_at %>
</p>

<p><b>Device Id:</b></p>
<p>
  <ul>
  <li>Responses: <%= @install.responses.count %></li>
  <li>Logs: <%= @install.logs.count %></li>
  <li>Geofence click-through rate: <%= number_to_percentage @install.geofence_click_rate %></li>
  <li>Geofence response rate: <%= number_to_percentage @install.geofence_response_rate %></li>
  </ul>
</p>

<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
