<p id="notice"><%= notice %></p>

<p>
Has <%=link_to @install.responses.count.to_s + " answers", responses_path(@install.id)%>.
</p>

<p>
  <strong>Device Id:</strong>
  <%= @install.device_id %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @install.created_at %>
</p>

<%= link_to 'Edit', edit_install_path(@install) %> |
<%= link_to 'Back', installs_path %>
