<%= bootstrap_form_for(@log) do |f| %>
  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@log.errors.count, "error") %> prohibited this log from being saved:</h2>

      <ul>
      <% @log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :install_id %>

  <%= f.text_field :issue_id %>

  <%= f.text_field :action %>

  <%= f.text_field :details %>

  <%= f.datetime_select :timestamp %>

  <%= f.text_field :lat %>
  <%= f.text_field :lng %>

  <%= f.text_field :install_id %>

  <%= f.primary %>

<% end %>
