<p id="notice"><%= notice %></p>

<h1>Listing Logs</h1>

<table class="table">
  <thead>
    <tr>
      <th>Device Id</th>
      <th>Issue</th>
      <th>Action</th>
      <th>Details</th>
      <th>Timestamp</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Install</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @logs.each do |log| %>
      <tr>
        <td><%= link_to log.install.device_id, install_path(log.install) %></td>
        <td><%= link_to log.issue_id, issue_path(log.issue_id) %>
        <%= number_with_precision(log.distance_from_issue,:precision=>2) if log.has_issue? %></td>
        <td><%= log.action %></td>
        <td><%= log.details %></td>
        <td><%= log.timestamp.in_time_zone('EST') %></td>
        <td><%= log.lat %></td>
        <td><%= log.lng %></td>
        <td><%= log.install_id %></td>
        <td><%= link_to 'Show', log %></td>
        <td><%= link_to 'Edit', edit_log_path(log) %></td>
        <td><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= paginate @logs %>

<br />

<%= link_to 'New Log', new_log_path %>
