<p id="notice"><%= notice %></p>

<p>
  <strong>Install:</strong>
  <%= @log.install_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @log.action %>
</p>

<p>
  <strong>Details:</strong>
  <%= @log.details %>
</p>

<p>
  <strong>Issue:</strong>
  <%= @log.issue_id %>
  <% if @log.has_issue? %>
  <i>distance: <%=number_with_precision @log.distance_from_issue, :precision=>2 %> miles</i>
  <% end %>
</p>
<p>
  <strong>Lat:</strong>
  <%= @log.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @log.lng %>
</p>

<p>
  <strong>Install:</strong>
  <%= @log.install_id %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @log.timestamp %>
</p>

<%= link_to 'Edit', edit_log_path(@log) %> |
<%= link_to 'Back', logs_path %>
