
<div class="row">

  <div class="col-md-12">
    <h1>Stats</h1>
  </div>

</div>

<hr />

<div class="row">
  <div class="col-md-12"><h2><%= t("Summary")%></h2></div>
</div>

<div class="row">

  <div class="col-md-4">
    <h3><%= t('user_population') %></h3>
    <p>
    <% @installs_by_request_type.each do |key, value| %>
      <b><%=key%></b>: <%=value%></b>
      <br />
    <% end %>
    </p>
  </div>

  <div class="col-md-4">
    <h3><%= t('notifications') %></h3>
    <p>
    <b><%=t('geofences_entered')%></b>: <%=@geofences_entered%>
    <br/>
    <b><%=t('geofence_notifications_clicked')%></b>: <%=@geofence_notifications_clicked%> (<%=number_to_percentage(100.to_f*@geofence_notifications_clicked.to_f/@geofences_entered.to_f)%>)
    <br />
    <b><%=t('issue_updated_notifications')%></b>: <%=@issue_updated_notifications%>
    <br />
    <b><%=t('issue_updated_notification_clicks')%></b>: <%=@issue_updated_clicks%>
    </p>
  </div>

  <div class="col-md-4">
    <h3><%= t('nav_menu_clicks') %></h3>
    <p>
    <% @clicks_by_menu_item.each do |info| %>
      <b><%=info[:item]%></b>: <%=number_to_percentage(100.to_f*info[:clicks].to_f/@total_menu_item_clicks.to_f)%> (<%=info[:clicks]%>)</b>
      <br />
    <% end %>
    </p>
  </div>

</div>

<hr />

<div class="row">
  <div class="col-md-12"><h2><%= t("By Request Type")%></h2></div>
</div>

<div class="row">

  <% @stats_by_request_type.each do |info| %>
  
    <div class="col-md-4">
      <h3><%=info[:request_type]%></h3>
      <p><ul>
      <li><%=t("geofences_entered")%>: <%=info[:geofences_entered]%></li>
      <li><%=t("geofence_notifications_clicked")%>: 
      <%=info[:geofence_notifications_clicked]%> (<%=number_to_percentage(100.to_f*info[:geofence_notifications_clicked].to_f/info[:geofences_entered].to_f)%>)
      </li>
      <li><%=t("responses")%>: <%=info[:responses]%></li>
      <li><%=t("response_logs")%>: <%=info[:responses_logs]%></li>
      <li><%=t("responses_from_notifications")%>: <%=info[:responses_from_notification]%>
        (<%=number_to_percentage(100.to_f*info[:responses_from_notification].to_f/info[:geofences_entered].to_f)%>)
      </li>
      <li><%=t("installs")%>: <%=info[:count]%>
        <ul>
          <% info[:installs].each do |install| %>
            <li><%= link_to install.device_id, install %></li>
          <% end %>
        </ul>
      </li>
      </ul></p>
    </div>

  <% end  %>

</div>
