<%= bootstrap_form_for(@place) do |f| %>

  <% if @place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% @place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :id %>: <%= @place.id %>

    <%= f.text_field :name %>

    <%= f.text_field :url_name %>

    <%= f.text_field :state %>

    <%= f.datetime_select :issues_fetched_at %>

    <%= f.text_area :json %>

    <%= f.primary "save" %>

<% end %>
