<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @place.url_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<p>
  <strong>Json:</strong>
  <%= @place.json %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
