<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @place.name %>
</p>

<p>
  <strong>Url name:</strong>
  <%= @place.url_name %>
</p>

<p>
  <strong>State:</strong>
  <%= @place.state %>
</p>

<p>
  <strong>Issues fetched at:</strong>
  <%= @place.issues_fetched_at %>
</p>

<%= link_to 'Back', places_path %>
